<%- include("./partials/header"); %>
<div class="main-wrapper">
  <div class="about">
    <div class="about-img">
      <img
        src="https://media-exp3.licdn.com/dms/image/C4E03AQERIqXgL0LImg/profile-displayphoto-shrink_200_200/0/1615560779567?e=1629936000&v=beta&t=agxq9Ju0tBwySq10gHKCgtiZFEbzw62VkX4iIKketvQ"
        alt="Gautam Pruthi"
      />
    </div>
    <div class="about-me">
      <h2><%= aboutMe.name %></h2>
      <p><%= aboutMe.desc %></p>
      <a
        href="https://www.facebook.com/gautam.pruthi.792"
        class="fab-icons"
        target="_blank"
        ><i class="fab fa-facebook fa-2x"></i
      ></a>
      <a href="https://github.com/Gautam1201" class="fab-icons" target="_blank"
        ><i class="fab fa-github fa-2x"></i
      ></a>
      <a
        href="https://in.linkedin.com/in/gautam-pruthi-ba122a1b8"
        class="fab-icons"
        target="_blank"
        ><i class="fab fa-linkedin fa-2x"></i
      ></a>
    </div>
  </div>
</div>
<%- include("./partials/footer"); %>
